{% extends 'base.html' %} {% block content %}
    {% load crispy_forms_tags %}
    {% load static from staticfiles %}
    <div class="container main-content">
        <div class="row justify-content-center">
            <div class="col-md-8 card mb-6 center  top">
                <div class="card-body">
                    <h1>
                        {{ post.title }} </h1>
                    <p class=" text-muted">{{ post.author }}
                        | {{ post.created_on }}</p>
                    <p class="card-text ">{{ post.content | safe }}</p>
                    {% if post.attachment %}
                        <img class="card-img-top"
                             src="{{ post.attachment.url }}"
                             alt="attach_img">
                    {% endif %}
                    <!-- Check if post read -->
                        {% if post in blog.read_posts.all %}
                            Read
                        {% else %}
                            {% csrf_token %}
                            <a href="#"
                               data-action="read"
                               data-url="{{ post.get_absolute_url }}"
                               class="btn btn-info read">
                                    Mark as read
                            </a>
                        {% endif %}
                </div>
            </div>
            {% include 'comments.html' %}
        </div>
    </div>

{% endblock content %}
